.bar_container {
	display: flex;
	gap: 2px;
	padding: 10px;
	align-items: end;
	height: 90%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: var(--background-secondary);
}

.card {
	background-color: var(--background-tertiary);
	padding: 20px;
	border-radius: 20px;
}

.sorting_container {
	width: 100%;
	height: 100%;
	padding: 40px 20px;
}

.arr_bar {
	border-radius: 5px;
}

.grid-col {
	display: grid;
	grid-template-columns: repeat(37, auto);
}

.path-main {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: stretch;
	padding: 0 100px;
	gap: 50px;
}

.outlet {
	width: 100%;
}

.main-page {
	width: 100%;
	display: flex;
	padding: 20px;
	justify-content: space-evenly;
}

.sort {
	text-decoration: none;
	color: white;
}
